.NavBarButton {
    padding: .75rem 2rem;
    font-family: 'Karla', sans-serif;
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: .75rem;
    font-weight: 400;
    transition-duration: .2s;
}

.NavBarButton:hover {
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgba(53,43,193,.1), 0 4px 6px -4px rgba(53,43,193,.1);
    transform: translate(0, -0.125rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}