.NavBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.NavBarContainer {
    width: 80%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Emoji {
    font-size: xx-large;
    flex-grow: 1;
}

.NavBarItems {
    display: flex;
    align-items: center;
    gap: 3rem;
}