.Section {
  height: 100vh;
  max-width: 1024px;
  margin: auto;
  overflow: visible;
}

@media screen and (max-width: 1024px) {
  /* You can adjust this breakpoint as needed */
  .Section {
    height: auto;
    padding: 2rem 0;
  }
}
