.SectionSubtitle {
    font-family: "Karla", sans-serif;
    color: rgb(180 178 197/1);
    margin: 0;
}

.SectionTitle {
    font-family: "Poppins", sans-serif;
    font-size: 3.75rem;
    font-weight: 700;
    color: var(--primary-color);
    letter-spacing: -.05em;
    line-height: 1;
    margin: 0;
}