.Card {
    padding: 3rem;
    background-color: var(--background-color);
    border-radius: 1rem;
    transition: box-shadow 0.2s ease-in-out;
}

.Card:hover {
    box-shadow: 0 25px 100px -15px rgba(19,15,73,.1);
    transition-duration: .5s;
}

@media screen and (max-width: 1024px) {
    .Card {
        padding: 2rem;
    }
}